 div.one{
    margin-top: 40px;
    text-align: center;
  }
  a, button{
    margin-top: 10px;
  }
  .one button{
      padding: 10px 50px;
  }
  .btn.btn-outline-secondary:focus{
      color: white;
      background-color: #6C757D;
  }
  